<mat-card>
   <mat-card-content>
     <h1>Accordian</h1>
     <mat-divider></mat-divider><br>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Lorem ipsum dolor sit amet
      </mat-panel-description>
    </mat-expansion-panel-header>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac tempus felis. Nulla tristique dapibus faucibus. Nulla ornare ipsum vitae imperdiet congue. Quisque non lorem a massa sagittis fermentum. Praesent dapibus urna et turpis accumsan interdum. Ut eu ultricies tellus. Nam sed euismod ex. Sed cursus, turpis elementum viverra iaculis, urna lorem congue erat, ac mattis mauris risus sit amet massa. Pellentesque dictum mi sed eros molestie, congue tempor turpis mollis. Vivamus gravida lorem vel luctus luctus. Nam condimentum purus et ex finibus, quis porttitor odio vestibulum. Cras rutrum eu turpis eget venenatis. Fusce dapibus imperdiet iaculis. Nam eu ornare eros. Ut consectetur ante interdum convallis bibendum. Vestibulum convallis lacus tellus, finibus hendrerit tellus laoreet non.</p>
        <p>Nunc bibendum luctus efficitur. Cras venenatis in elit ut convallis. Nunc ac faucibus turpis. Ut aliquet magna a est rutrum, non sollicitudin dolor pulvinar. Nunc sodales libero a fringilla dictum. Etiam pretium, dui nec venenatis auctor, lacus ex pharetra enim, porta porta nibh ex laoreet justo. Sed non lectus a augue dictum feugiat. Cras eu nisl ante. Suspendisse convallis venenatis tempor.</p>
   
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac tempus felis. Nulla tristique dapibus faucibus. Nulla ornare ipsum vitae imperdiet congue. Quisque non lorem a massa sagittis fermentum. Praesent dapibus urna et turpis accumsan interdum. Ut eu ultricies tellus. Nam sed euismod ex. Sed cursus, turpis elementum viverra iaculis, urna lorem congue erat, ac mattis mauris risus sit amet massa. Pellentesque dictum mi sed eros molestie, congue tempor turpis mollis. Vivamus gravida lorem vel luctus luctus. Nam condimentum purus et ex finibus, quis porttitor odio vestibulum. Cras rutrum eu turpis eget venenatis. Fusce dapibus imperdiet iaculis. Nam eu ornare eros. Ut consectetur ante interdum convallis bibendum. Vestibulum convallis lacus tellus, finibus hendrerit tellus laoreet non.</p>
        <p>Nunc bibendum luctus efficitur. Cras venenatis in elit ut convallis. Nunc ac faucibus turpis. Ut aliquet magna a est rutrum, non sollicitudin dolor pulvinar. Nunc sodales libero a fringilla dictum. Etiam pretium, dui nec venenatis auctor, lacus ex pharetra enim, porta porta nibh ex laoreet justo. Sed non lectus a augue dictum feugiat. Cras eu nisl ante. Suspendisse convallis venenatis tempor.</p>
  </mat-expansion-panel>
</mat-accordion>
   </mat-card-content>
</mat-card>