<mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="navOpen()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Material Components</h1>
     <span class="topbar-spacer"></span>
   <!-- <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input type="trxt" matInput placeholder="Search">
  </mat-form-field>-->
    
    
    <button mat-icon-button matBadge="8" matBadgePosition="above after"><mat-icon >calendar_today</mat-icon></button>
    <button mat-icon-button matBadge="4" matBadgeColor="accent"><mat-icon>chat</mat-icon></button>
    <button mat-icon-button><mat-icon>open_in_new</mat-icon></button>
  </mat-toolbar>